<div class="nsg-tab-edit">
  <div *ngIf="backendErrors.length > 0"
       class="nsg-err-msg">
    <ul>
      <li *ngFor="let err of backendErrors">
        {{err.message}}
      </li>
    </ul>
  </div>
  <form #editForm="ngForm"
        id="editForm"
        (submit)="onSubmit()"
        (change)="onFormEdit(editForm)">
    <div class="row">
      <div class="col-md-6">
        <table>
          <tr>
            <td width="42%">Module name:</td>
            <td>
              <input [(ngModel)]="nsgModule.name"
                     #name="ngModel"
                     name="name"
                     required
                     type="text"
                     class="form-control-plaintext">
              <div *ngIf="name.dirty && name.errors && name.errors.required"
                    class="nsg-err-msg">
                This field is required
              </div>
            </td>
          </tr>
          <tr>
            <td>Module path:</td>
            <td>
              <input [(ngModel)]="nsgModule.path"
                     #path="ngModel"
                     name="path"
                     required type="text" class="form-control-plaintext">
              <div *ngIf="path.dirty && path.errors && path.errors.required"
                   class="nsg-err-msg">
                This field is required
              </div>
            </td>
          </tr>
          <tr>
            <td>Number of IN interfaces?</td>
            <td>
              <input [(ngModel)]="nsgModule.in_ifces_cnt"
                     #in_ifces_cnt="ngModel"
                     name="in_ifces_cnt"
                     required type="text" class="form-control-plaintext">
              <div *ngIf="in_ifces_cnt.dirty && in_ifces_cnt.errors && in_ifces_cnt.errors.required"
                   class="nsg-err-msg">
                This field is required
              </div>
            </td>
          </tr>
          <tr>
            <td>Number of OUT interfaces?</td>
            <td>
              <input [(ngModel)]="nsgModule.out_ifces_cnt"
                     #out_ifces_cnt="ngModel"
                     name="out_ifces_cnt"
                     required type="text" class="form-control-plaintext">
              <div *ngIf="out_ifces_cnt.dirty && out_ifces_cnt.errors && out_ifces_cnt.errors.required"
                   class="nsg-err-msg">
                This field is required
              </div>
            </td>
          </tr>
          <tr>
            <td>Nemea module?</td>
            <td>
              <label class="toggle-check">
                <input [(ngModel)]="nsgModule.is_nemea_mod"
                       name="is_nemea_mod"
                       class="toggle-check-input"
                       type="checkbox">
                <span class="toggle-check-text"></span>
              </label>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td width="42%">Sysrepo ready?</td>
            <td>
              <label class="toggle-check">
                <input [(ngModel)]="nsgModule.is_sr_ready"
                       name="is_sr_ready"
                       class="toggle-check-input"
                       type="checkbox">
                <span class="toggle-check-text"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Sysrepo callbacks ready?</td>
            <td>
              <label class="toggle-check">
                <input [(ngModel)]="nsgModule.sr_cb_ready"
                       name="sr_cb_ready"
                       class="toggle-check-input"
                       type="checkbox">
                <span class="toggle-check-text"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>
              <textarea [(ngModel)]="nsgModule.description"
                        #description="ngModel"
                        name="description"
                        required
                        rows="7"></textarea>
              <div *ngIf="description.dirty && description.errors && description.errors.required"
                   class="nsg-err-msg">
                This field is required
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
  <div class="row bottom-col">
    <button (click)="resetForm()"
            class="nsg-btn">
      Reset values
    </button>
    <button (click)="nsgModalService.openNsgModal(prefillModal)"
            class="nsg-btn">
      Prefill values
    </button>
    <button form="editForm"
            [disabled]="editForm.invalid"
            type="submit"
            class="nsg-btn">
      Save module
    </button>
  </div>
</div>

<ng-template #prefillModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Prefill values from other module</h4>
    <button type="button" class="close" (click)="d('')">
      <span>&times;</span>
    </button>
  </div>
  <div *ngIf="!nsgModsNamesList">
    Loading modules list...
  </div>
  <form *ngIf="nsgModsNamesList"
        #prefillForm="ngForm" id="prefillForm">
    <div class="modal-body">
        <label for="prefillFromModuleInput">
          Choose module to prefill values from:
        </label>
        <select [(ngModel)]="prefillFromModule"
                required
                name="prefillFromModuleInput"
                #prefillFromModuleInput="ngModel"
                id="prefillFromModuleInput"
                class="custom-select">
          <option *ngFor="let name of nsgModsNamesList"
                  [value]="name">
            {{name}}
          </option>
        </select>
    </div>
    <div class="modal-footer">
      <input (click)="c('')"
              type="button"
             class="nsg-btn"
             value="Close">
      <input (click)="prefill()"
             [disabled]="prefillForm.invalid"
              type="button"
             class="nsg-btn"
             form="prefillForm"
             value="Prefill">
    </div>
  </form>
</ng-template>