@import "../../supervisor-gui.style-defaults";

table {
  width: 100%;
  thead {
    font-size: 1.5rem;
    th {
      border-bottom: 1px solid;
      text-align: center;
    }
    th:first-of-type {
      text-align: left;
    }
  }
  tbody {
    font-size: 1.2rem;
    td {
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    td:last-of-type {
      font-size: 1.8rem;
      a {
        text-decoration: none;
        color: #000000;
      }
    }
    tr {
      td.loading {
        text-align: left !important;
        font-size: 12px
      }

      td:first-of-type {
        text-align: left;
      }
      border-bottom: 1px solid;

      td:last-of-type {
        text-align: right;
        i {
          cursor: pointer;
          cursor: hand;
        }
        div {
          display: inline-block;
        }
        div:first-of-type {
          padding-right: 7px;
        }
        div:first-of-type {
          border-right: 1px solid;
        }
      }
    }
    overflow-y: scroll;
  }
  .running {
    color: $successColor;
  }
  .not-running {
    color: $errColor;
  }
}

.inst-restarting {
    background: #aaaaaa;
}