<div class="nsg-tab-json">
  <div class="row nsg-err-msg">
    <ul *ngIf="backendErrors.length > 0">
      <li *ngFor="let err of backendErrors">
        {{err}}
      </li>
    </ul>
    <ul>
      <li *ngIf="modJson.errors && modJson.errors.required">
        This field is required
      </li>
      <li *ngIf="modJson.errors && modJson.errors.validateJsonModule">
        {{ modJson.errors.validateJsonModule }}
      </li>
      <li *ngIf="modJson.errors && modJson.errors.validateYangLint">
        {{ modJson.errors.validateYangLint }}
      </li>
    </ul>
  </div>
  <div class="row">
    <form #jsonEditForm="ngForm"
          (submit)="onSubmit()"
          (change)="onFormEdit(jsonEditForm)"
          id="jsonEditForm">
      <div class="row">
        <div class="col-md-6">
          <textarea [(ngModel)]="nsgModuleJson"
                    #modJson="ngModel"
                    name="modJson"
                    validateJsonModule
                    validateYangLint="nemea"
                    required
                    rows="7"></textarea>
        </div>
        <div class="col-md-6">
          <div>
            <label for="modelType">
              Model type:
            </label>
            <select [(ngModel)]="yangModel.type"
                    (change)="updateYangModel()"
                    name="modelType"
                    id="modelType"
                    class="custom-select">
              <option *ngFor="let type of ['yang', 'yin']"
                      [value]="type">
                {{type}}
              </option>
            </select>
          </div>
          <textarea readonly>
            {{ yangModel.value }}
          </textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="row bottom-col">
    <button (click)="resetForm()"
            class="btn btn-secondary">
      Reset values
    </button>
    <div class="custom-file">
      <input (change)="insertFromFile($event)"
             id="jsonFile"
             type="file" class="custom-file-input btn-secondary">
      <label class="custom-file-label" for="jsonFile">
        Insert from file
      </label>
    </div>
    <button form="jsonEditForm"
            [disabled]="jsonEditForm.invalid"
            type="submit"
            class="btn btn-success">
      Save module
    </button>
  </div>
</div>