<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Edit box ({{box.title}})</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="img/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
  </div>
</md-toolbar>

<md-dialog-content layout="column" layout-padding>
    <div flex layout="row">
        <md-input-container flex>
            <label>Title</label>
            <input ng-model="box.title">
        </md-input-container>    
    </div>

    <div layout="row" flex>
        <md-input-container flex>
            <label>Type of view</label>
            <md-select ng-model="box.type" >
                <!--md-optgroup label="Types"-->
                    <md-option ng-value="type" ng-repeat="type in types">{{type}}</md-option>
                <!--/md-optgroup-->
            </md-select>
        </md-input-container>
        
        <md-input-container ng-if="box.type == 'piechart' || box.type == 'barchart'" flex>
            <label>Metric</label>
            <md-select ng-model="box.config.metric">
                <md-optgroup label="Metric">
                    <md-option ng-value="item" ng-repeat="item in ['Category', 'Node.SW', 'custom'] track by $index">{{ item }}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>

        <md-input-container ng-if="box.config.metric == 'custom'">
            <label>Custom metric</label>
            <input ng-model="box.config.custom_metric">
        </md-input-container>

        <md-input-container ng-if="box.type == 'sum'" flex>
            <label>Category</label>
            <md-select ng-model="box.config.category">
                <md-optgroup label="Category">
                    <md-option ng-value="item" ng-repeat="item in categories track by $index">{{ item }}</md-option>
                </md-optgroup>
            </md-select>
        </md-input-container>
    </div>

    <div layout="row" flex>
        <md-switch ng-if="box.type == 'piechart'" ng-model="box.config.filter" aria-label="Enable filter" class="md-primary" flex>
            Enable filter<!--: <span ng-if="box.selector">Flow Count</span> <span ng-if="!box.selector">Event Count</span-->
        </md-switch>
    </div>
    <div layout="row" flex ng-if="box.config.filter">
        <md-input-container flex>
            <label>Field</label>
            <input ng-model="box.config.filter_field">
        </md-input-container>

        <md-input-container flex>
            <label>Value</label>
            <input ng-model="box.config.filter_value">
        </md-input-container>
    </div>

    <div layout="row" ng-if="box.config.metric != ''" flex>

        <md-input-container flex>
            <label>Time window [hours]</label>
            <input ng-model="box.config.period">
        </md-input-container>
        
        <md-input-container ng-if="box.type == 'barchart'" flex>
            <label>Aggregation period [minutes]</label>
            <input ng-model="box.config.window">
        </md-input-container>
    </div>
    <div layout="row" ng-if="box.type == 'barchart'"  flex>

        <md-switch ng-model="box.selector" aria-label="Switch 1" class="md-primary">
            Y Axis value: <span ng-if="box.selector">Flow Count</span> <span ng-if="!box.selector">Event Count</span>
        </md-switch>
    </div>

    <div layout="row" flex>
        <md-input-container flex>
            <label>Content</label>
            <textarea ng-model="box.content" flex></textarea>
        </md-input-container>
    </div>


</md-dialog-content>

<md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="cancel()">
        Cancel
    </md-button>
    <md-button ng-click="saveAndClose()" style="margin-right:20px;" class="md-primary md-raised">
       Save 
    </md-button>
</md-dialog-actions>
