<div class="ns-navbar">
  <table>
    <tr>
      <td>
        <a routerLink='/nemea'>
          <i class="fa fa-chevron-left"></i> Nemea
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui'>
          <i class="fa fa-chevron-left"></i> Nemea Supervisor GUI
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui/modules'>
          <i class="fa fa-chevron-left"></i> Modules
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui/instances'>
          <i class="fa fa-chevron-left"></i> Instances
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui/how-to'>
          <i class="fa fa-chevron-left"></i> How-to
        </a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <a routerLink='/nemea/supervisor-gui/modules/new'>
          <i class="fa fa-chevron-left"></i> Create new module
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui/instances/new'>
          <i class="fa fa-chevron-left"></i> Add new instance
        </a>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <a routerLink='/nemea/supervisor-gui/module/3'>
          <i class="fa fa-chevron-left"></i> Module: xxxx
        </a>
      </td>
      <td>
        <a routerLink='/nemea/supervisor-gui/instance/4'>
          <i class="fa fa-chevron-left"></i> Instance: xxxx
        </a>
      </td>
    </tr>
  </table>
</div>
<div style="border-bottom: 1px solid">
  {{ bigHeader() }}
</div>
<div class="nsg-content">
  <router-outlet></router-outlet>
</div>
