
<table>
  <thead>
  <tr>
    <th width="30%">Instance name</th>
    <th width="20%">Status</th>
    <th width="10%">IN/OUT interfaces</th>
    <th width="20%">Instance of</th>
    <th width="20%">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instance of nsgInstances">
      <td>
        <a [routerLink]="['/nemea/supervisor-gui/instances/', instance.name]">
          {{ instance.name }}
        </a>
      </td>
      <td>
        <i [ngClass]="{'running': instance.running, 'not-running': !instance.running}"
           data-toggle="tooltip"
           title="{{instance.running ? 'Running' : 'Not running'}}"
           class="fa fa-circle"></i>
        &nbsp;/&nbsp;{{ (instance.enabled ? 'enabled' : 'disabled') }}
      </td>
      <td>
        {{ instance.in_ifces.length }}/{{ instance.out_ifces.length }}
      </td>
      <td>
        <a [routerLink]="['/nemea/supervisor-gui/modules/', instance.nsgModule.name]">
          {{ instance.nsgModule.name }}
        </a>
      </td>
      <td>
        <div>
          <i *ngIf="instance.running === false"
             (click)="startInstance(instance)"
             data-toggle="tooltip"
             title="Start instance"
             class="fa fa-play"></i>
          <i *ngIf="instance.running === true"
             (click)="stopInstance(instance)"
             data-toggle="tooltip"
             title="Stop instance"
             class="fa fa-stop"></i>
          <i *ngIf="instance.running === true"
             (click)="restartInstance(instance)"
             data-toggle="tooltip"
             title="Restart instance"
             class="fa fa-repeat"></i>
        </div>
        <div>
          <i (click)="exportAsSrJsonData(instance)"
             data-toggle="tooltip"
             title="Export instance configuration as JSON"
             class="fa fa-arrow-circle-o-down"></i>
          <a [routerLink]="['/nemea/supervisor-gui/instances/', instance.name]"
             data-toggle="tooltip"
             title="Edit instance configuration"
             fragment="edit">
            <i class="fa fa-cog"></i>
          </a>
          <i (click)="removeInstance(instance)"
             data-toggle="tooltip"
             title="Remove instance"
             class="fa fa-trash-o"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>