
$blue: #1ab4f0;
$light-blue: #f4f5f8;
$white: darken(#ffffff, 1%);
$grey : #eee;
$grey-dark : #aaa;
//$blue : darken(#00bef3, 10%);

@import     "bootstrap/_mixins.scss";
@import     "bootstrap/_variables.scss";
@import     "mixins/_alignment.scss";
@import     "login.scss";
@import     "home.scss";
@import     "icons.scss";

body {
    word-wrap: break-word;
    background-color: $light-blue!important;
}

/* Toggle Styles */
md-toolbar:not(.md-menu-toolbar) {
    background-color: #00bef3;
}


.navbar-header {
    .navbar-brand {
        font-size: 14px;
    }
}

.topbar {
    h1 {
        color: $white;
        margin: 0;
        padding: 0;
    }

    svg {
        fill: $white;
    }

    #menu-toggle {
        color: $white;

        md-icon {
            position: relative;
            top: -1px;
        }
    }
}

.wrapper {
    height: 100vh;
    background-color: $light-blue;

    & > md-content {
       background-color: $light-blue!important;
    }
}

.content {
    background-color: $light-blue;
    padding-top: 0.5em;
}


md-content.content-wrapper {
    height: 100%;
}


form.query.box, .bg {
    margin: 0 0 1em 0;
}

sidebar-menu md-content {
    background-color: $white;
}

/* Sidebar Styles */

@media(min-width:1280px) {

    .navbar-header a#menu-toggle {
        display: none;
    }

    .events ul.menu > div > li > a{
            
        padding-top: 0.75em;

        span {
            display: block;
        }
    }

    sidebar-menu {
        z-index: 59; //60 is sidebar
        bottom: 0;
        top: 0;
        height: 100vh;
        width: 275px;
        background-color: $white;

        md-sidenav {
            height: 100%;
        }
    }
}

.sidebar-logo {
    height: 152px;
    width: 100%;
    display: block;
    background: url(../img/menu-bg.png) no-repeat right bottom;
    background-size: cover;

    a {
        color: #fff;
        font-weight: 900;
        font-size: 1.75em;
        padding-left: 0.75em;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.query {
    md-datepicker {
        height: 50px !important;
        margin-top: 13px;
    }

    md-input-container {
        margin-bottom: 0!important;
        padding-bottom: 0!important;
    }

    .spacer {
        width: 25px;
    }
}

.table {
    .row {
        border-top: 1px solid $grey!important;
        padding: 0.5em 0;
        word-wrap: break-word;

        &:focus, &:active {
            outline: none;
            border: 0px;
        }
        
        small {
            color: $grey-dark;
            font-size: 90%;
        }
        &:hover {
            background: $grey;
            cursor: pointer;

            .toggled-detail {
                border-color: darken($grey, 5%);
            }
        }
        .row-wrapper {
            
            .flow-count {
                text-align: right;
                padding-right: 2em;
            }
        }

        .toggled-detail {
            border-top: 1px solid $grey;
            span {
                padding-bottom: 1em;
                min-height: 25px;
            }
        }
        
    }

        
}

.load-more {
            padding: 2em 0;
            button {
                margin: 0 auto;
                text-align: center;
                padding: 0.5em;
                font-size: 1.1em;
            }
        }

.actionBtn {
    position: absolute;
    bottom: 0.5em;
    right: 0.25em;

    .md-button {
    //    color: $white;
    }
}


.loading {
    md-progress-circular {
        margin: 2em auto;
        text-align: center;
        display: block;
    }
    
    position: absolute;
    top: 3em;
    left: 50%;
    margin-left: -85px;
}


.md-success-toast-theme {
    .md-toast-content {
    //    background: $white;
    //    color: $black;
    }
}



.event {
    line-height: 1.4em;
    em {
        font-weight: bold;
        font-style: normal;
    }
    .sub {
        padding-left: 1em;
    }

    span {
        font-family: 'Consolas', fixed-width;
        font-size: 1.2em;
    }

    textarea {
        width: 100%;
        height: 200px;
    }
}


.box {
    background: $white;   
    overflow: hidden;

    h2, h3 {
        margin:0;
    }

    h2 {
        padding: 8px 8px 8px 12px;
       
    }

    p {
        margin: 0 auto;
        text-align: center;
    }

    .inner-box {
        //margin: 8px;
        height: 100%;
        width: 100%;
    }

    &.resizeable {
        cursor: move;
    }

    &.gridster-item-moving {
        //box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    }

    .gridster-item-resizable-handler {
        border-color: transparent transparent #ccc!important;
        display: block!important;
    }

    .md-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    .sum {
        margin: 0 auto;
        text-align: center;

        
    }

    .aligner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            position: absolute!important;
        }
    }

}


.md-dialog-fullscreen {
    min-width: 400px;
}

/*.edit-mode-box {
    &.ng-leave, &.ng-enter {
        //transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 5.5s;
        //border-color: green;
        opacity: 1;
    }

    &.ng-leave-active {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
}*/

@media (max-width: 1280px) {
    .wrapper {
       height: 100%;
    }
    .content {
        height: 100%;
    }
}


@media (max-width: 960px) {
    .box {
        position: relative!important;
        min-height: 100px;

        .sum {
            padding-top: 25px;
        }
    }
}

.edit-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
    // Fix for opened menu to be clickable
    z-index: 59;

    .md-fab {
        width: 56px;
        height: 56px;
        background-color: $grey!important;
    }


    md-menu {
        height: auto!important;

       
    }
}

.gridster-preview-holder {
    background: $grey-dark!important;
    border: 2px dashed #000!important;
}


.md-success-toast-theme {
    .md-toast-content {
        span {
            position: relative;
            top: -4px;
            
            &:before {
                font-family: 'Material Icons';
                content: 'done';
                font-size: 20px;
                position: relative;
                bottom: -4px;
            }
        }
    }
}

.md-error-toast-theme {
    .md-toast-content {
        span {
            position: relative;
            top: -4px;
            
            &:before {
                font-family: 'Material Icons';
                content: 'error_outline';
                font-size: 20px;
                position: relative;
                bottom: -4px;
            }
        }
    }
}


md-dialog-actions.editDashboard {
    padding-left: 0;
}
