<div *ngIf="nsgModule">
  <nsg-tabs>
    <nsg-tab tabTitle="Info">
      <div *ngIf="backendErrors.length > 0"
           class="nsg-err-msg">
        <ul>
          <li *ngFor="let err of backendErrors">
            {{err}}
          </li>
        </ul>
      </div>
      <div class="nsg-tab-info">
      <div>
        <table>
          <tr>
            <td width="35%">Module name:</td>
            <td>{{nsgModule.name}}</td>
          </tr>
          <tr>
            <td>Module path:</td>
            <td>{{nsgModule.path}}</td>
          </tr>
          <tr>
            <td>TRAP monitorable?</td>
            <td>{{nsgModule.trap_monitorable}}</td>
          </tr>
          <tr>
            <td>Use TRAP interfaces?</td>
            <td>{{nsgModule.use_trap_ifces}}</td>
          </tr>
          <tr>
            <td>Sysrepo ready?</td>
            <td>{{nsgModule.is_sysrepo_ready}}</td>
          </tr>
          <tr>
            <td>IN interfaces count:</td>
            <td>{{nsgModule.in_ifces_cnt}}</td>
          </tr>
          <tr>
            <td>OUT interfaces count:</td>
            <td>{{nsgModule.out_ifces_cnt}}</td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>{{nsgModule.description}}</td>
          </tr>
        </table>
      </div>
      <div>
        <div>
          <button (click)="removeModule()"
                  type="button" class="nsg-btn">
            Remove module
          </button>
        </div>
        <div>
          <h3 *ngIf="!nsgInstances">Loading instance list...</h3>
          <table *ngIf="nsgInstances">
            <thead>
            <tr>
              <th width="40%">Instance name</th>
              <th width="30%">Status</th>
              <th width="30%">&nbsp;</th>
            </tr>
            </thead>
            <tbody *ngIf="nsgInstances.length == 0">
              <tr>
                <td colspan="3">
                  There are no instances for this module.
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="nsgInstances.length > 0">
            <tr *ngFor="let i of nsgInstances">
              <td>
                <a [routerLink]="['/nemea/supervisor-gui/instances/', i.name]">
                  {{ i.name }}
                </a>
              </td>
              <td>{{ (i.running ? '' : 'not ') + 'running & ' + (i.enabled ? 'enabled' :
                'disabled') }}</td>
              <td>
                <a [routerLink]="['/nemea/supervisor-gui/instance/', i.name]"
                   fragment="edit">
                  <i class="fa fa-cog"></i>
                </a>
                &nbsp;
                <i (click)="removeInstance(i)"
                   class="fa fa-trash-o"></i>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
    </nsg-tab>
    <nsg-tab tabTitle="Edit">
      <nsg-module-edit *ngIf="nsgModule"
                                  (onChildSaved)="onChildSaved($event)"
                                  (onChildEdited)="onChildEdited($event)"
                                  [isEditForm]="true"
                                  [passedModule]="nsgModule"
      ></nsg-module-edit>
    </nsg-tab>
  </nsg-tabs>
</div>
<div *ngIf="!nsgModule && !instanceNotFound">
  Module data are loading ...
</div>
<div *ngIf="instanceNotFound">
  Module not found.
</div>