<section layout="row" class="wrapper">
    <sidebar-menu></sidebar-menu>
    
    <md-content flex layout="column" class="content-wrapper event" >
        
        <topbar-menu></topbar-menu>

        <section class="content event" layout-padding>
        
        <h2 layout-align="start center"><md-button class="md-icon-button" ng-click="back()" flex="5"><md-icon flex md-svg-src="img/back.svg"></md-icon></md-button>Event Details</h2>
        <div layout-gt-md="row">
                <div layout="column" flex class="box md-whiteframe-z1" layout-padding style="margin-right: 8px">
                    <div ng-bind-html="data | json2html" flex></div>
                    
                    <div class="plain" flex>
                        <h3>Plain data
                            <md-button ng-click="showPlain = !showPlain" class="md-raised">
                                <span ng-if="showPlain">Show plain data</span> 
                                <span ng-if="!showPlain">Hide plain data</span>
                            </md-button>
                        </h3>
                        <textarea flex ng-hide="showPlain">{{ data | idea }}</textarea>
                    </div>
                </div>

                <div layout="column" flex class="box md-whiteframe-z1">
                    <div map-lazy-load="https://maps.google.com/maps/api/js">
                        <!--ng-map center="{{geo.latitude}},{{geo.longitude}}" zoom="5"-->
                        <ng-map center="{{geo[0].latitude}},{{geo[0].longitude}}" zoom="2">
                            <marker ng-repeat="pos in geo" position="{{pos.latitude}},{{pos.longitude}}" title="Hello World!"></marker>
                        </ng-map>
                    </div>
                    <div ng-bind-html="geo | json2html"></div>
                </div>
            </div>
        </section>
    </md-content>
</section>
