<section layout="row" class="wrapper">
    <sidebar-menu></sidebar-menu>
    
    <md-content flex layout="column" class="events content-wrapper" >
        
        <topbar-menu></topbar-menu>
        <section class="content" layout-padding>

        <form ng-submit="loadItems(query)" name="query_form" flex layout="column" class="query box md-whiteframe-z1" layout-padding>
            <div flex layout="row">
                <md-datepicker ng-model="query.date" md-placeholder="Date from" ng-change="parseDate(query.date)" ng-required="true"></md-datepicker>
                <span class="spacer"></span>
                
                <md-input-container flex="10">
                    <label>Time from</label>
                    <input ng-model="query.from" type="string" placeholder="12:00" ng-model-options="{ debounce: 100 }" validate-format ng-required="true">
                    <p ng-if="query_form.$error.time">Bad time format</p>
                </md-input-container>
                
                <md-input-container flex="10">
                    <label>To</label>
                    <input ng-model="query.to" type="string" placeholder="13:00" validate-format validate-hours ng-model-options="{ debounce: 100 }">
                    <p ng-if="query_form.$error.time">Bad time format or "TO" time sooner than "FROM" time</p>
                </md-input-container>

                <span class="spacer"></span>

                <md-input-container>
                    <label>Category</label>
                    <input ng-model="query.category">
                </md-input-container>
                
                <md-input-container>
                    <label>Description</label>
                    <input ng-model="query.description">
                </md-input-container>
            </div>

            <div flex layout="row">
            
                <md-input-container flex="5">
                    <label>Limit</label>
                    <input ng-model="query.limit">
                </md-input-container>


                <md-input-container flex="15">
                    <label>Order by</label>
                    <input type="text" ng-model="query.orderby">
                </md-input-container>

                <!--md-autocomplete 
                    md-selected-item="query.orderby" 
                    md-search-text="query.orderby" 
                    md-items="item in orderBy" 
                    md-item-text="item"
                    md-floating-label="Order by"
                    ng-model="query.orderby">
                    
                    <span md-highlight-text="query.orderby">{{item}}</span>
                </md-autocomplete>
                
                {{ query.orderby }}
                -->
                <md-switch 
                    flex="20"
                    ng-model="query.dir_raw" 
                    aria-label="Direction" 
                    class="md-primary" 
                    ng-change="switchDir(query.dir_raw)"
                    md-no-ink flex>
                    Direction: 
                    <!--span ng-hide="query.dir">ascending</span>
                    <span ng-hide="!query.dir">descending</span-->
                    {{ dirVal }}
                </md-switch>
                
                <md-input-container flex="15">
                    <label>Source IP</label>
                    <input type="text" ng-model="query.srcip">
                </md-input-container>

                <md-input-container flex="15">
                    <label>Destination IP</label>
                    <input type="text" ng-model="query.dstip">
                </md-input-container>


                <div flex></div>

                <md-button class="md-raised md-primary" type="submit" ng-disabled="query_form.$invalid" flex="10">{{ loadbtn }}</md-button>
                <md-button class="md-raised md-warn" type="button" flex="10" ng-click="reset()">RESET</md-button>

            </div>
        </form>

    <div class="table box md-whiteframe-z1" layout="column" flex>
        <div class="head" layout="row" flex layout-align="start center">
            <div flex=15>
                Event Time
                <md-input-container>
                    Filter fetched events
                </md-input-container>
            </div>
            <div flex=15>
                Category
                <md-input-container>
                    <label>Filter by category</label> <input type="text" ng-model="filter.category" ng-model-options="{ debounce: 250 }"> 
                </md-input-container></div>
            <div flex=20>
                Source<br>
                <md-input-container>
                    <label>Filter by IP</label> <input type="text" ng-model="filter.src_ip" ng-model-options="{ debounce: 250 }"> 
                </md-input-container>
            </div>
            <div flex=20>
                Target<br>
                <md-input-container>
                    <label>Filter by IP</label> <input type="text" ng-model="filter.trt_ip" ng-model-options="{ debounce: 250 }"> 
                </md-input-container>
            </div>
            <div flex=20>
                Description<br>
                <md-input-container>
                    <label>Filter by description</label> <input type="text" ng-model="filter.desc" ng-model-options="{ debounce: 250 }"> 
                </md-input-container>
            </div>
            <div flex=10>
                Flows
                <div layout="row">
                <md-input-container flex>
                    <label>Min</label> <input type="text" ng-model="filter.flows_from" ng-model-options="{ debounce: 250 }"> 
                </md-input-container>
                <md-input-container flex>
                    <label>Max</label> <input type="text" ng-model="filter.flows_to" ng-model-options="{ debounce: 250 }"> 
                </md-input-container>
                </div>
            </div>
        </div> <!-- head -->

        <div layout="column" ng-repeat="item in data | filter: events" ng-class="{'md-whiteframe-z2' : !enableSub, 'last' : $last }" ng-init="enableSub = true" class="row"  flex ng-click="enableSub = !enableSub">
            <div layout="row" layout-align="start center" class="row-wrapper"  >
                <div flex=15 layout-padding>{{ item.DetectTime['$date'] | date : 'MM/dd H:mm:ss'}}</div>
                <div flex=15 layout-padding>{{ item.Category[0] }}</div>
                <div flex=20 layout-padding>{{ item.Source[0].IP4[0] }}<small ng-if="!item.Source[0].IP4">N/A</small></div>
                <div flex=20 layout-padding>{{ item.Target[0].IP4[0] }}<small ng-if="!item.Target[0].IP4">N/A</small></div>
                <div flex=20 layout-padding>{{ item.Description }}</div>
                <!--div flex=20 layout-padding>{{ item.Description | limitTo : 31 : 0 }}{{item.Description.length > 31 ? ' ...' : ''}}</div-->
                <div flex=10 class="flow-count"layout-padding>{{ item.FlowCount | number }}</div>
                <!--div flex=5>
                    <md-button class="md-button-toggle md-raised"   aria-label="Enable details">
                        <span ng-if="enableSub">Info</span>
                        <span ng-if="!enableSub">Hide</span>
                    </md-button>
                </div-->
            </div>
            <div ng-if="!enableSub" class="item_info" ng-class="{'toggled-detail' : !enableSub}" flex layout-padding layout="column">
                <div flex layout="row" style="width: 100%">
                    <div flex layout="column" >
                        <span flex>Detect Time: {{ item.DetectTime['$date'] | date : 'yyyy/MM/dd H:mm:ss' }}</span>
                    <span flex>Event Time: {{ item.EventTime['$date'] | date : 'yyyy/MM/dd H:mm:ss' }}</span>
                    <span flex>Cease Time: {{ item.CeaseTime['$date'] | date : 'yyyy/MM/dd H:mm:ss' }}</span>
                </div>

                <div flex layout="column">
                    <span flex>Category: {{ item.Category[0] }}</span>
                    <span flex>Description: {{ item.Description }}</span>
                </div>

                <div flex layout="column">
                    <span flex>
                        Source: <span ng-if="item.Source[0]">{{ item.Source[0].IP4[0] }} | {{ item.Source[0].Proto[0] }}</span>
                        <span ng-if="!item.Source[0]">Data not available</span>
                    </span>
                    <span flex>
                        Target: <span ng-if="item.Target[0]">{{ item.Target[0].IP4[0] }} | {{ item.Target[0].Proto[0] }}</span>
                        <span ng-if="!item.Target[0]">Data not available</span>
                    </span>
               
                    <span flex >
                        Flow count: {{ item.FlowCount | number }}
                    </span>
                </div>
            </div>

            <div flex style="text-align: center;" layout="row" layout-align="center center">        
                <md-button class="md-raised" ng-if="item.Source[0].IP4[0]" ng-click="getQuery(item.Source[0].IP4[0], 'src')">Source IP</md-button>
                <md-button class="md-raised" ng-if="item.Target[0].IP4[0]" ng-click="getQuery(item.Target[0].IP4[0], 'trg')">Target IP</md-button>
                <md-button class="md-raised" ng-href="#/events/{{item['_id']['$oid']}}" aria-label="Show details">
                    Details
                </md-button>
            </div>

                                <!--div class="event" ng-bind-html="item | json2html"></div-->
            
        </div>

            
        </div>

    </div>
        

<div layout="row" flex class="load-more" ng-hide="remaining.total <=query.limit">

                <md-button class="md-raised md-primary" ng-click="loadNext(data[data.length-1].DetectTime.$date)">
                    {{ nextButton }} <br> 
                    <small ng-if="remaining.total">({{ remaining.total | number }}<span ng-if="remaining.total >= 10000">+</span> remaining)</small>
                </md-button>
            </div>

        </section>

    </md-content>
</section>
