<section layout="row" class="wrapper">
<sidebar-menu></sidebar-menu>

<md-content flex layout="column" class="content-wrapper" >
    <topbar-menu></topbar-menu>
    <section class="content">
        <div ng-controller="grid" class="bg">
            <div gridster="opt">
                <div gridster-item="box" ng-repeat="box in items" class="box md-whiteframe-z1" ng-controller="box" ng-class="{'resizeable' : activeGrid == true}" >
                	<div gridster-dynamic-height item="box" class="inner-box" id="nvd3">
	                    <md-menu md-position-mode="target-right target">
	                            <md-button aria-label="Open box interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
	                            <md-icon md-menu-origin md-svg-src="img/icon-menu.svg"></md-icon>
	                        </md-button>
	                        <md-menu-content width="3">
	                            <md-menu-item>
	                                <md-button ng-click="showEdit($event, box)">
	                                    <md-icon md-menu-align-target md-svg-src="img/edit.svg" style="margin: auto 3px auto 0;"></md-icon> 
	                                    Edit
	                                </md-button>
	                            </md-menu-item>
	                            <md-menu-divider></md-menu-divider>
	                            <md-menu-item>
	                                <md-button ng-click="remove(box)">
	                                    <md-icon md-menu-align-target md-svg-src="img/close.svg" style="margin: auto 3px auto 0;"></md-icon> 
	                                    Delete
	                                </md-button>
	                            </md-menu-item>
	                        </md-menu-content>
	                        </md-menu>


                            <div ng-if="box.loading == true" class="loading" layout-align="center center" layout="row">
	                                <div><md-progress-circular flex md-mode="indeterminate" md-diameter="72" flex></md-progress-circular></div>
	                                <br>
	                                Fetching data
	                            </div>


                            <div ng-if="!editMode && !box.loading" ng-class="{'aligner' : box.type == 'sum' }">
	                                
	                            <h2 class="md-headline" ng-if="box.title">{{box.title}}</h2>
	                            
	                            <nvd3 ng-if="box.type == 'piechart' || box.type == 'barchart'"
	                                options="box.options" 
	                                api="api" 
	                                tooltips="true"
	                                interactive="true" 
	                                data="box.data"
	                                autorefresh="true"
	                                objectEquality="true" 
	                                config="{refreshDataOnly: true, deepWatchData : true}" 
                                    style="height: 100%!important; width: 100%!important;">
	                            </nvd3> 

	                            <div ng-if="box.type == 'top'" layout="column" layout-padding>
	                                <div ng-repeat="event in box.data" flex layout="row" layout-align="start center">
	                                    <span flex="20">{{ event.DetectTime['$date'] | date : 'H:mm:ss'}}</span>
	                                    <span flex="40">{{ event._id }}</span>
	                                    <span flex="20">{{ event.FlowCount | number}}</span>
	                                    <span flex="20"><md-button class="md-raised" ng-href="#/events/{{event.id['$oid']}}">Detail</md-button></span>
	                                </div>
	                            </div>
                                
                                <div flex class="sum" ng-if="box.type == 'sum'" >
                                        <h3 class="md-headline">{{ box.data | number }}</h3>
                                        <!--p class="md-body-1">{{ box.config.category }} events</p-->
                                        <!--md-button class="md-raised" ng-href="#/events?filter&date={{box.config.begintime">Detail</md-button-->
                                        <p class="md-caption"> {{ box.content }} </p>
                                </div>

                                <p class="md-caption" ng-if="box.type != 'sum'"> {{ box.content }} </p>
	                        </div>

					</div> <!-- /layout-padding -->            
                </div> <!-- /gridster-item -->
            </div> <!-- /gridster -->
             
    	</div> <!-- /ng-controller grid -->

	</section> <!-- /content -->

    
    <div class="edit-menu">
        <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open box interactions menu" class="md-fab md-primary " ng-click="openMenu($mdOpenMenu, $event)">
            <md-icon md-menu-origin md-svg-src="img/settings.svg"></md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button ng-click="addItem()">
                    <md-icon md-menu-align-target md-svg-src="img/plus.svg" style="margin: auto 3px auto 0;"></md-icon> 
                    Add item
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="clearCache()">
                    <i style="margin: auto 3px auto 0; position: relative; bottom: -5px;" class="material-icons">autorenew</i> Clear cache
                </md-button>
            </md-menu-item>
            
            <md-menu-item>
                <md-button ng-click="setInterval()">
                    <span ng-if="!refresh_enabled">
                        <i style="margin: auto 3px auto 0; position: relative; bottom: -5px;" class="material-icons">timer</i>
                        Enable autorefresh ({{ refresh_interval }} s)
                    </span>
                    <span ng-if="refresh_enabled">
                        <i style="margin: auto 3px auto 0; position: relative; bottom: -5px;" class="material-icons">timer_off</i>
                        Disable autorefresh
                    </span>
                </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item>
                <md-button ng-click="editDashboard(selectedDashboard)">
                    <i style="margin: auto 3px auto 0; position: relative; bottom: -5px;" class="material-icons">settings</i>
                    Dashboard settings
                </md-button>
            </md-menu-item>
            
            <md-menu-item>
                <md-button ng-click="enableGrid()">
                    <span ng-if="activeGrid"> 
                        <md-icon 
                            md-menu-align-target 
                            md-svg-src="img/grid_off.svg" 
                            style="margin: auto 3px auto 0;">
                        </md-icon>
                        Disable and save grid
                    </span>
                    
                    <span ng-if="!activeGrid">
                        <md-icon 
                            md-menu-align-target 
                            md-svg-src="img/grid_on.svg" 
                            style="margin: auto 3px auto 0;">
                        </md-icon> 
                        Enable grid
                   </span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
        </md-menu>
    </div>

    </md-content>
</section>
