<section layout="row" class="wrapper">
    <sidebar-menu></sidebar-menu>

    <md-content flex layout="column users">
        <topbar-menu></topbar-menu>
        <section class="content" style="width: 100%" layout-padding>

            <div class="table box md-whiteframe-z1" layout-padding>
                <div class="row" ng-repeat="person in people" layout="row" layout-align="none center">
                    <div flex="10">{{ person.username }}</div>
                    <div flex="10">{{ person.name }}</div>
                    <div flex="10">{{ person.surname }}</div>
                    <div flex="10">{{ person.email }}</div>
                    <!--div ng-bind-html="user.settings | json2html" flex></div>
                    <div ng-bind-html="user | json2html" flex></div-->
                    <div ng-if="person.username == myUsername()">
                        <md-button ng-href="#/settings/profile" class="md-primary md-raised" style="padding: 0 1em" ng-disabled="false">
                            <md-icon md-svg-src="img/edit.svg" style="fill: #fff!important"></md-icon> 
                            Edit user
                        </md-button>
                    </div>
                    <div ng-if="person.username != myUsername()">
                        <md-button ng-click="deleteUser(person._id.$oid)" class="md-warn md-raised" style="padding: 0 1em">
                            <md-icon md-svg-src="img/close.svg" style="fill: #fff!important"></md-icon> 
                            Delete user
                        </md-button>
                    </div>
                </div>
                <div class="row">
                    <md-button class="md-primary md-raised" ng-click="addUser()">
                        <md-icon md-svg-src="img/plus.svg"></md-icon>
                        Add new user
                    </md-button>
                </div>
            </div>

        </section>
    </md-content>
</section>
