@import "../../supervisor-gui.style-defaults";

table {
  width: 100%;
  thead {
    font-size: 1.5rem;
    th {
      border-bottom: 1px solid;
      padding: 5px;
    }
  }
  tbody {
    font-size: 1.2rem;
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
    }
    td:first-of-type {
      :hover {
        text-decoration: underline;
      }
    }
    td:last-of-type {
      font-size: 1.8rem;
      a {
        text-decoration: none;
        color: #000000;
        i {
          padding-top: 0.7rem;
        }
      }
    }
    tr {
      border-bottom: 1px solid;

      td:first-of-type {
        text-align: left;
      }
      td:last-of-type {
        text-align: right;
      }
    }
    overflow-y: scroll;
  }
  i {
    cursor: hand;
    cursor: pointer;
  }
}