<table>
  <thead>
  <tr>
    <th width="25%">Module name</th>
    <th width="15%">TRAP monitorable</th>
    <th width="15%">Use TRAP interfaces</th>
    <th width="15%">Sysrepo ready</th>
    <th width="15%">Sysrepo callbacks ready</th>
    <th width="15%">&nbsp;</th>
  </tr>
  </thead>
  <tbody *ngIf="nsgModules">
  <tr *ngFor="let module of nsgModules">
    <td>
      <a [routerLink]="['/nemea/supervisor-gui/modules/', module.name]">
        {{ module.name }}
      </a>
    </td>
    <td>{{ module.trap_monitorable }}</td>
    <td>{{ module.use_trap_ifces }}</td>
    <td>{{ module.is_sysrepo_ready }}</td>
    <td>{{ module.sr_callbacks_ready }}</td>
    <td>
      <div>
        <i (click)="exportAsSrJsonData(module)"
           class="fa fa-arrow-circle-o-down"></i>
        <a [routerLink]="['/nemea/supervisor-gui/modules/', module.name]"
           fragment="edit">
          <i class="fa fa-cog"></i>
        </a>
        <i (click)="removeModule(module)"
           class="fa fa-trash-o"></i>
      </div>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="!nsgModules">
    <tr>
      <td colspan="5">No modules found. Verify that Supervisor is running.</td>
    </tr>
  </tbody>
</table>