<div *ngIf="backendErrors.length > 0"
     class="nsg-err-msg">
  <ul>
    <li *ngFor="let err of backendErrors">
      {{err}}
    </li>
  </ul>
</div>
<table>
  <thead>
  <tr>
    <th width="28%">Module name</th>
    <th width="19%">TRAP monitorable</th>
    <th width="19%">Pass TRAP interfaces at CLI</th>
    <th width="19%">Sysrepo ready</th>
    <th width="19%">&nbsp;</th>
  </tr>
  </thead>
  <tbody *ngIf="nsgModules">
  <tr *ngFor="let module of nsgModules">
    <td>
      <a [routerLink]="['/nemea/supervisor-gui/modules/', module.name]">
        {{ module.name }}
      </a>
    </td>
    <td>{{ module.trap_monitorable }}</td>
    <td>{{ module.trap_ifces_cli }}</td>
    <td>{{ module.is_sysrepo_ready }}</td>
    <td>
      <div>
        <a [routerLink]="['/nemea/supervisor-gui/modules/', module.name]"
           fragment="edit">
          <i class="fa fa-cog"></i>
        </a>
        <i (click)="removeModule(module)"
           class="fa fa-trash-o"></i>
      </div>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="!nsgModules">
    <tr>
      <td colspan="5">No modules found. Verify that Supervisor is running.</td>
    </tr>
  </tbody>
</table>