@import "../../../../../../supervisor-gui.style-defaults";

.row1, .row2, .row3, .row4 {
  display: flex;
}


h3 {
  font-size: 1.75rem;
  margin-bottom: 5px;
}

.row1 {
  height: 35%;
  padding-bottom: 5px;
  border-bottom: 2px solid;
  flex-flow: column;

  .row1 {
    height: auto;
    margin-bottom: 0;
    border-bottom: 0;
  }

  .row2 {
    height: calc(100% - 1.75rem - 5px);
    flex-flow: row;

    .col1, .col2 {
      overflow-y: auto;
      width: 50%;
      padding: 5px;
    }

    table {
      width: 100%;
      thead {
        border: 1px solid;
      }
      td, th {
        padding: 5px;
      }
      tr {
        td:last-of-type {
          text-align: right;
          font-size: 1.4rem;
        }
      }
    }
  }

  .ifc-link {
    color: blue;
    cursor: pointer;
    cursor: hand;
    :hover {
      text-decoration: underline;
    }
  }
}

form {
  display: flex;
  height: 55%;

  .row2 {
    display: flex;
    flex-flow: column;
    width: 100%;

    .row1 {
      height: auto;
      border-bottom: 0;

      ul {
        color: $errColor;
      }
      h3 {
        margin-top: 10px;
      }
      span {
        font-weight: bold;
      }
    }

    .row2 {
      overflow-y: auto;
      flex-grow: 1;

      .row2 {
        flex-grow: 0;
      }

      .row1, .row2, .row3 {
        height: auto;
        display: flex;
        flex-flow: row wrap;
        flex-shrink: 0;
        overflow-y: visible;
        overflow-x: hidden;

        .ifc-cell {
          flex: 1 0 50%;
          padding: 5px;
          display: flex;
          flex-direction: row;

          label {
            align-self: flex-end;
            margin-bottom: 0;
            margin-right: 5px;
            padding-bottom: 2px;
          }
          input, select {
            flex-grow: 1;
          }
        }
      }

      .row3 .ifc-cell {
        flex: 1 0 33.3%;
      }
    }
    font-size: 1.3rem;

  }
}
.row3 {
  height: 10%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.2rem;
  button {
    margin-left: 5px;
  }
}

.ifces-todo {
  color: $errColor;
}

.add-new-ifc-row {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    font-size: 2rem;
  }
}

i {
  cursor: pointer;
  cursor: hand;
}